Hi!ckaton 2025
IP Paris
November 28-30

Team members:

In [13]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
# External modules

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


# Internal modules

from import_data import load_data
from preprocessing import add_hyperparameters, remove_columns

___
I - Preprocessing
___

In [ ]:
# Load data
data_source = "data/spotify_data.csv"
data = load_data(data_source)


# Define and add hyperparameters
hyperparams = {
    "contains_feat": lambda row: "ft." in row["track_name"].lower(), # Check if 'ft.' is in track name
    "is_single": lambda row: row["album_type"].lower() == "single" # Check if album type is 'album'
}

data = add_hyperparameters(data, hyperparams)

# Remove unnecessary columns
columns_to_remove = ["track_id", "album_id", "artist_id", "artist_genres", "track_name", "artist_name", "album_name", "album_type", "album_release_date"]

data = remove_columns(data, columns_to_remove)

data

,track_number,track_popularity,explicit,artist_popularity,artist_followers,album_total_tracks,track_duration_min,contains_feat,is_single
0,4,0,True,77,2812821,9,1.55,True,False
1,1,0,True,64,2363438,1,3.07,False,True
2,1,4,True,48,193302,1,2.55,False,True
3,8,30,True,77,2813710,9,1.69,True,False
4,2,0,True,48,8682,2,2.39,False,True
...,...,...,...,...,...,...,...,...,...
8577,1,71,False,60,626733,15,3.92,False,False
8578,10,64,False,61,626733,15,4.32,False,False
8579,5,8,False,27,18184,9,2.28,False,False
8580,2,55,False,44,333376,12,2.74,False,False
8581,11,45,False,55,1067339,12,2.02,False,False

___
II - Data analysis
___